.desfrutar-bg {
  background: var(--cor-p2-3);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.desfrutar {
  display: grid;
  justify-items: center;
  text-align: center;
}

.desfrutar p {
  margin-top: 1.6rem;
}

.desfrutar a {
  margin-top: 2.4rem;
}