.aprendizado {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--cor-p2-3);
  padding: 6 rem 0;
}

.aprendizado div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.aprendizado-conteudo {
  padding: 190px 80px;
  align-self: center;
  background: var(--cor-p2-4);
}
