.espaco-bg {
  background: var(--cor-p2-4);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.espaco {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 12rem;
}

.espaco div img {
  object-fit: cover;
  min-height: 100%;
  object-position: right;
}