* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Normalização Rem/Px */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}