.atividades-bg {
  background: url('../../src/img/atividades/atividades-bg.jpg') no-repeat;
  background-size: cover;
}

.atividades {
  display: grid;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.atividades img {
  height: 100%;
  object-fit: cover;
}

.atividades-card {
  display: flex;
}

.atividades-card p {
  margin-top: 0.8rem;
  max-width: 50ch;
}

.atividades-card-conteudo {
  padding: 5rem;
  padding-left: 12rem;
  min-width: 70%;
  max-height: 300px;
  background: var(--cor-p2-4);
}

.atividades-card:nth-child(odd) {
  justify-content: end;
}

.atividades-card-conteudo h2 {
  text-transform: uppercase;
  position: relative;
}

.atividades-card-conteudo h2::before {
  content: '';
  display: block;
  background: var(--cor-p1-1);
  width: 12px;
  height: 23px;
  position: absolute;
  top: 6px;
  left: -22px;
}

@media (max-width: 1200px) {
  .atividades-card-conteudo h2 {
    font-size: 3rem;
  }
  .atividades-card-conteudo p {
    font-size: 2.2rem;
  }
  .atividades-card-conteudo h2::before {
    top: 4px;
  }
}

@media (max-width: 1000px) {
  .atividades-card-conteudo h2 {
    font-size: 2.6rem;
  }
  .atividades-card-conteudo p {
    font-size: 1.8rem;
  }
  .atividades-card-conteudo h2::before {
    top: 2px;
  }
}

@media (max-width: 800px) {
  .atividades-card-conteudo h2 {
    font-size: 1.7rem;
  }

  .atividades-card-conteudo p {
    font-size: 1.6rem;
  }

  .atividades-card-conteudo h2::before {
    width: 6px;
    height: 11px;
    top: 3px;
    left: -10px;
  }
}