.conheca-bg {
  background: var(--cor-p2-4);
}
.conheca {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding-top: 6rem;
  padding-bottom: 6rem;
  gap: 4rem;
}

.conheca img {
  object-fit: cover;
  min-height: 100%;
  object-position: right;
}

.conheca-conteudo p {
  margin-top: 1.2rem;
}

@media (max-width: 1200px) {
  .conheca-conteudo h1 {
    font-size: 6rem;
  }
  .conheca-conteudo p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .conheca-conteudo h1 {
    font-size: 5rem;
  }
  .conheca-conteudo p {
    font-size: 2rem;
    margin-top: 1.6rem;
  }
}

@media (max-width: 850px) {
  .conheca-conteudo h1 {
    font-size: 3.5rem;
  }
  .conheca-conteudo p {
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }
}

@media (max-width: 650px) {
  .conheca-conteudo h1 {
    font-size: 2.7rem;
  }
  .conheca-conteudo p {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .conheca-conteudo h1 {
    font-size: 2.2rem;
  }
  .conheca-conteudo p {
    font-size: 1rem;
  }
}