.introducao-bg {
  background: url('../../src/img/home/barracao-01.jpg') no-repeat;
  background-size: cover;
}

.introducao {
  display: grid;
  justify-items: end;
  text-align: end;
}

.introducao img {
  padding-top: 6rem;
}

.introducao h1 {
  text-transform: uppercase;
  margin-top: 2.4rem;
}

.introducao p {
  margin-top: 1.6rem;
  padding-bottom: 60px;
}

@media (max-width: 1200px) {
  .introducao img {
    max-width: 40%;
  }

  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao p {
    font-size: 1.8rem;
  }
}

@media (max-width: 650px) {
  .introducao img {
    max-width: 30%;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao p {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .introducao h1 {
    font-size: 1.5rem;
  }

  .introducao p {
    font-size: 1.1rem;
  }
}