.introducao-bg {
  background: url('../../src/img/home/barracao-01.jpg') no-repeat;
  background-size: cover;
}

.introducao {
  display: grid;
  justify-items: end;
  text-align: end;
}

.introducao img {
  padding-top: 6rem;
}

.introducao h1 {
  text-transform: uppercase;
  margin-top: 2.4rem;
}

.introducao p {
  margin-top: 1.6rem;
  padding-bottom: 60px;
}